<div class="row">
    <div class="col-xs-3">
{#
        {% if pageCount > 1 %}
        <p class="pull-right pagination-infos">
        éléments {{ firstItemNumber }} à {{ lastItemNumber }} sur {{ totalCount }}
        </p>
        {% endif %}
#}
    </div>
    <div class="col-xs-9">
        {% if pageCount > 1 %}
        <nav>
            <ul class="pagination pull-right">
                {% if first is defined and current != first %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" aria-label="First">&lt;&lt;</a>
                </li>
                {% else %}
                <li class="disabled">
                    <a href="#" aria-label="First">&lt;&lt;</a>
                </li>
                {% endif %}
                {% if previous is defined %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" aria-label="Previous">&lt;</a>
                </li>
                {% else %}
                <li class="disabled">
                    <a href="#" aria-label="Previous">&lt;</a>
                </li>
                {% endif %}
                {% for page in pagesInRange %}
                <li{% if page == current %} class="active"{% endif %}>
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
                {% endfor %}
                {% if next is defined %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" aria-label="Next">&gt;</a>
                </li>
                {% else %}
                <li class="disabled">
                    <a href="#" aria-label="Next">&gt;</a>
                </li>
                {% endif %}
                {% if last is defined and current != last %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" aria-label="Last">&gt;&gt;</a>
                </li>
                {% else %}
                <li class="disabled">
                    <a href="#" aria-label="Last">&gt;&gt;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
