{% extends 'Sources/base.html.twig' %}

{% block head %}
{{ parent() }}
{{ include('JQFileUpload/head.html.twig') }}
{% endblock %}

{% block content_header %}
{{ parent() }}
<h1>Ajouter une licence</h1>
{% endblock %}

{% block main %}
{{ parent() }}

{{ include('Sources/Admin/Licence/menu.html.twig') }}

<div class="row">
    <div class="col-xs-12">
        {{ form_start(form, {attr: {novalidate: 'novalidate', enctype: "multipart/form-data"}}) }}
        <div class="error">{{ form_errors(form) }}</div>
        <div class="form-group">
            <label>Image</label>
            {{ include('JQFileUpload/Form/singleUpload.html.twig', {
                inputName: 'logo'
            }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.name) }}
            <div class="error">{{ form_errors(form.name) }}</div>
            {{ form_widget(form.name, {attr: {class: 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.url) }}
            <div class="error">{{ form_errors(form.url) }}</div>
            {{ form_widget(form.url, {attr: {class: 'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-primary pull-right">Ajouter la licence</button>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}

{% block body_end %}
{{ parent() }}
{{ include('JQFileUpload/body_end.html.twig') }}
{% endblock %}
